---

---
<div class="mb-12">
    <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-white">My projects</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <a href="#" class="flex items-center p-2 bg-white rounded-lg border border-gray-200 shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <span class="text-lg font-medium text-gray-900 dark:text-white">React</span>
        </a>
        <a href="#" class="flex items-center p-2 bg-white rounded-lg border border-gray-200 shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <span class="text-lg font-medium text-gray-900 dark:text-white">Nextjs</span>
        </a>
        <a href="#" class="flex items-center p-2 bg-white rounded-lg border border-gray-200 shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <span class="text-lg font-medium text-gray-900 dark:text-white">React Native</span>
        </a>
        <a href="#" class="flex items-center p-2 bg-white rounded-lg border border-gray-200 shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <span class="text-lg font-medium text-gray-900 dark:text-white">Astro</span>
        </a>
        <a href="#" class="flex items-center p-2 bg-white rounded-lg border border-gray-200 shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <span class="text-lg font-medium text-gray-900 dark:text-white">Node</span>
        </a>
        <a href="#" class="flex items-center p-2 bg-white rounded-lg border border-gray-200 shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <span class="text-lg font-medium text-gray-900 dark:text-white">PostgreSQL</span>
        </a>
    </div>
</div>